Repository rebase-helper/rebase-helper, pull requests merged in 2018-03, with the labels that each got.

#458 Koji build tool and KojiHelper rewrite
  rebasehelper/application.py
  rebasehelper/build_helper.py
  rebasehelper/build_tools/copr_tool.py
  rebasehelper/build_tools/koji_tool.py
  rebasehelper/utils.py
Labels: build process, refactoring

#459 Get potentially missing package signing key
  docker/Dockerfile.base
  docker/getkey.sh
Labels: docker, unit tests

#460 Update GPG signing keys with fedora-gpg-keys package
  docker/Dockerfile.base
  docker/getkey.sh
Labels: docker, unit tests

#466 Create integration environment
  .gitlab-ci.yml
  .travis.yml
  Makefile.docker
  docker/Dockerfile.gitlab-ci
  docker/Dockerfile.integration
  docker/Dockerfile.test
  docker/Dockerfile.tests
  docker/cert.pem
  docker/docker-compose.yml
  docker/integration.py
  docker/integration_data/existing_file.txt
  docker/integration_data/pkgs/man-pages/man-pages-posix-2013-a.tar.xz/sha512/e6ec8eb57269fadf368aeaac31b5a98b9c71723d4d5cc189f9c4642d6e865c88e44f77481dccbdb72e31526488eb531f624d455016361687a834ccfcac19fa14/man-pages-posix-2013-a.tar.xz
  docker/integration_data/pkgs/rebase-helper/0.8.0.tar.gz/md5/91de540caef64cb8aa7fd250f2627a93/0.8.0.tar.gz
  docker/integration_data/pkgs/vim-go/v1.6.tar.gz/md5/847d3e3577982a9515ad0aec6d5111b2/v1.6.tar.gz
  docker/integration_data/versioneers/download_url/Data::GUID
  docker/integration_data/versioneers/download_url/Task::Kensho::Toolchain
  docker/integration_data/versioneers/m2r/json
  docker/integration_data/versioneers/package/cab/preferred
  docker/integration_data/versioneers/package/clock/preferred
  docker/integration_data/versioneers/project/Fedora/libtiff
  docker/integration_data/versioneers/project/Fedora/vim-go
  docker/integration_data/versioneers/pyodbc/json
  docker/integration_data/versioneers/read-pkg
  docker/integration_data/versioneers/uglify-js
  rebasehelper/tests/conftest.py
  rebasehelper/tests/functional/test_rebase.py
  rebasehelper/tests/test_utils.py
  rebasehelper/tests/test_versioneer.py
  tox.ini
Labels: enhancement, unit tests

#404 Improve text output, check diffs output
  rebasehelper/application.py
  rebasehelper/checker.py
  rebasehelper/checkers/abipkgdiff_tool.py
  rebasehelper/checkers/csmock_tool.py
  rebasehelper/checkers/pkgdiff_tool.py
  rebasehelper/checkers/rpmdiff_tool.py
  rebasehelper/output_tool.py
  rebasehelper/output_tools/text_output_tool.py
  rebasehelper/patch_helper.py
  rebasehelper/tests/test_output_tool.py
Labels: checkers, output tool

#467 Add option to update "sources" file
  docker/Dockerfile.base
  rebasehelper/application.py
  rebasehelper/options.py
  rebasehelper/utils.py
  setup.py
Labels: enhancement

#470 Show correct path to rebased sources
  rebasehelper/output_tool.py
Labels: bug, output tool

#471 Fix typo in a path to new build logs
  rebasehelper/output_tool.py
Labels: bug, output tool
