Repository rebase-helper/rebase-helper, pull requests merged in 2018-02, with the labels that each got.

#452 Preserve changes done to rebased spec file before build retry
  rebasehelper/application.py
Labels: bug, build process

#438 Add checkers category
  rebasehelper/application.py
  rebasehelper/checker.py
  rebasehelper/checkers/abipkgdiff_tool.py
  rebasehelper/checkers/csmock_tool.py
  rebasehelper/checkers/pkgdiff_tool.py
  rebasehelper/checkers/rpmdiff_tool.py
Labels: checkers

#446 Refactor build process
  rebasehelper/application.py
  rebasehelper/build_helper.py
  rebasehelper/build_tools/copr_tool.py
  rebasehelper/build_tools/koji_tool.py
  rebasehelper/build_tools/mock_tool.py
  rebasehelper/build_tools/rpmbuild_tool.py
  rebasehelper/srpm_build_tools/mock_tool.py
  rebasehelper/srpm_build_tools/rpmbuild_tool.py
Labels: build process, refactoring

#453 Add haskell package category detection
  rebasehelper/specfile.py
Labels: SPEC files

#456 Several fixes
  rebasehelper/archive.py
  rebasehelper/specfile.py
  rebasehelper/tests/test_specfile.py
  rebasehelper/tests/testing_files/test.spec
  rebasehelper/utils.py
Labels: SPEC files, archive files, unit tests
